<h1>Show Products</h1>

<ul>

  <li>
    <strong>Product name:</strong>
    <%= @products.product_name %>
  </li>

  <li>
    <strong>Quantity:</strong>
    <%= @products.quantity %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.products_path(@conn, :edit, @products) %></span> |
<span><%= link "Back", to: Routes.products_path(@conn, :index) %></span>
